
/** Body **/
body{
  background: url('../Images/homepage_background.jpg') no-repeat;
  color: #fff;
  font-family: 'Nunito Semibold';
  text-align: center;
}
#content{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0 auto;
        position:relative;
}
#content > *{
  padding: 30px;
}

#inputbox {
  grid-column: 2/ 4;
}

.mybtn {
  margin-top:70px;
}
/** END Body **/
