body{
    font-family: 'Nunito Semibold';
    text-align: center;
  }

#content{
          background: url('../Images/homepage_background1.jpg') no-repeat;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-auto-rows: minmax(100px, auto);
          grid-gap: 10px;
          max-width: 960px;
          margin: 0 auto;
          grid-template-areas:
              "header header header header"
              "footer footer footer footer"
              "main main main main"
              "main main main main"
              "aside aside nav nav"
              "section section section section"
              "section section section section";
}

.nested{
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-auto-rows: minmax(100px, auto);
          margin: 0 auto;
          max-width: 1024px;
           grid-template-areas:
                "games blogs friends"
}

#remark {
  color:#424242;
  font-weight:bold;
  background-color:#eee;
  padding-left:2px;
  padding-right:2px;
}

#content > *{
    background: #3bbced;
    padding: 30px;
  }
      header{
          grid-area: header;
      }
      main{
          grid-area: main;
      }
      aside{
          grid-area: aside;
      }
      nav{
          grid-area: nav;
      }
      section{
          grid-area: section;
      }
      footer{
          grid-area: footer;
          background:  !important;
      }
/* desktop grid */
